/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    text-decoration: none; 
}

.notice,
.alert {
  display: none;
}

.header {
  background-color: #026aa7;
  padding: 10px;
  
  .nav {
    .header_menu {
      display: flex;
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      align-items: center;
      
      li {
        list-style: none;
        color: #fff;
        
        a {
          color: #fff;
        }
      }
      
      &_title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: bold;
      }
      
      &_inner {
        display: flex;
        padding: 0;
        align-items: center;
        
        li {
          margin-right: 10px;
        }
      }
    }
  }
}