<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="nav_loginUser"><%= current_user.name %>さん</li>
      <li class="header_menu_title"><%= link_to "kanban", root_path %></li>
      <li>
        <ul class="header_menu_inner">
          <li>
            <%= link_to "#" do %>
              <span>リストを作成</span>
            <% end %>
          </li>
          <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>